<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmarHaor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>999F6B578823DDD9BA321A8D49432CD8C5E1863B</string>
				<key>dateExpires</key>
				<string>15/11/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>999F6B578823DDD9BA321A8D49432CD8C5E1863B</string>
						<key>dateExpires</key>
						<string>15/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96CL9XPJ99</string>
						<key>name</key>
						<string>BD TAX TECHNOLOGY LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>96CL9XPJ99.com.bdappbd2.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>96CL9XPJ99</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AmarHaor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f060db7f-80e0-4f85-af34-fe2dcc770791</string>
				<key>dateExpires</key>
				<string>15/1/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.bdappbd2.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>96CL9XPJ99</string>
				<key>name</key>
				<string>BD TAX TECHNOLOGY LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
