<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmarHaor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A02DF77C8E7EBAD39C1EFB4CBD754C5ADA9D2882</string>
				<key>dateExpires</key>
				<string>1/1/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A02DF77C8E7EBAD39C1EFB4CBD754C5ADA9D2882</string>
						<key>dateExpires</key>
						<string>1/1/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AL939PF7Y8</string>
						<key>name</key>
						<string>TECHNO MOLE CREATIONS LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AL939PF7Y8.com.amarhaor.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>AL939PF7Y8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AmarHaor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e1552841-e61b-4256-aa78-8e930c16e841</string>
				<key>dateExpires</key>
				<string>1/1/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.amarhaor.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AL939PF7Y8</string>
				<key>name</key>
				<string>TECHNO MOLE CREATIONS LTD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
